player-connection-mode=Listen
player-connection-guid=2256773549
player-connection-debug=0
player-connection-project-name=Canverse
player-connection-ip=192.168.80.1
player-connection-ip=192.168.169.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.33.1
player-connection-ip=192.168.3.1
player-connection-ip=172.18.14.233
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
